@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=vietnamese');
@font-face {
    font-family: 'HLTMishka';
    src: url('fonts/hlt_mishka-webfont.eot');
    src: url('fonts/hlt_mishka-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hlt_mishka-webfont.woff2') format('woff2'),
         url('fonts/hlt_mishka-webfont.woff') format('woff'),
         url('fonts/hlt_mishka-webfont.ttf') format('truetype'),
         url('fonts/hlt_mishka-webfont.svg#HLTMishka') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UVFMishka';
    src: url('fonts_2/UVFMishka.woff') format('woff'),
       url('fonts_2/UVFMishka.ttf') format('truetype'),
       url('fonts_2/UVFMishka.svg#UVFMishka') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{margin:0;padding:0;}

html {
  scroll-behavior: smooth;
}
body {
    font-size: 14px;
    color: #05462f;
    font-family: 'Roboto', sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
#header {
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
}
#header img {
    top: 0;
    left: 0;
    position: relative;
    z-index: 1;
    width: 300px;
    margin-top: -13px;
}
#header .nav-right {
    background: #fcde23;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    height: 2rem;
}
#header .nav-right li a {
    color: #05462f;
}
header.header {
    width: 100%;
}
header.header .no-padding {
    padding-left: 0;
    padding-right: 0;
}
.header nav .nav-right {
    float: right;
    display: block;
    right: 0px;
    position: absolute;
}
#section-tongthe img {
    position: static;
}
#section-tongquan {
    background: #05462f;
    color: #fff;
    padding-bottom: 156px;
}
#section-tongquan h3 {
    font-size: 40px;
    padding-top: 44px;
    font-family: 'UVFMishka', sans-serif;
}
#section-tongquan p.sub-text {
    font-size: 18px;
    padding-bottom: 77px;
    font-family: 'HLTMishka', sans-serif;
}
#section-tongquan ul.right-tongquan li {
    list-style: none;
    border-bottom: 1px solid #76897b;
    padding-bottom: 6px;
    margin-bottom: 6px;
    font-family: 'Roboto', sans-serif;
}
#section-tongquan ul.right-tongquan li span.title-tongquan {
    width: 263px;
    display: inline-block;
}

#section-introBotanic .section-title {
    /* background-image: url('images/banner_tin.png'); */
    background-size: cover;
    height: 500px;
}
#section-introBotanic .wrap-title { 
    text-align: center;
    padding: 80px;
    color: #05462f;
}
#section-introBotanic .wrap-title h3 {
    font-family: 'HLTMishka', sans-serif;
}
#section-introBotanic .wrap-title p {
    font-family: 'Roboto', sans-serif;
}
#section-introBotanic .wrap-body {
    margin-top: -200px;
}
#section-botanic {
    padding-top: 130px;
    padding-bottom: 340px;
}
#section-botanic .botanic-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
#section-botanic .right-text h3.title-bota {
    color: #1e3d28;
    font-size: 47px;
    font-family: 'Roboto', sans-serif;
}
#section-botanic .right-text h3.sub-title-bota {
    color: #05462f;
    font-family: 'HLTMishka', sans-serif;
    padding-left: 166px;
    padding-bottom: 30px;
    font-size: 43px;
}
#section-botanic .right-text h3 span {
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
#section-botanic .body-bota {
    color: #05462f;
    font-family: 'Roboto', sans-serif;
}
#section-botanic .bota-wrap-tienich {
    position: relative;
}
#section-botanic .bota-wrap-tienich .bota-tienich-thumb {
    width: 80%;
}
#section-botanic .bota-wrap-tienich .chuthich-list {
    width: 20%;
    position: absolute;
    top: 160px;
    right: 0;
    z-index: 1;
    padding-left: 20px;
}
palm-button
.list-unstyled{
    margin-left: 0rem;
}

.list-unstyled span.number {
    font-weight: 700;
    background: #dfb539;
    padding: 5px 10px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
}
.list-unstyled span.text {
    /* display: inline-block; */
    color: #05462f;
    font-family: 'Roboto', sans-serif;
}
.chuthich-list h3 {
    color: #05462f;
    padding-bottom: 20px;
    font-family: 'HLTMishka', sans-serif;
    padding-top: 30px;
}
.list-unstyled li {
    padding-bottom: 15px;
}
#section-baliforest {
    background: #fde700;
    position: relative;
    padding-bottom: 560px;
}
.wrap-box img {
    margin-top: -267px;
}
#section-baliforest .bando-bali {
    width: 50%;
    padding-top: 63px;
}
#section-baliforest .chuthich-bali {
    width: 50%;
    position: absolute;
    top: 320px;
    right: 0;
    z-index: 1;
    padding-left: 20px;
    padding-right: 88px;
}
#section-baliforest .chuthich-bali img {
    width: 140px;
    padding-bottom: 35px;
}
.right-text-botanic {
    text-align: justify;
}
.right-text-botanic h3.title-bali {
    color: #1e3d28;
    font-size: 47px;
    font-family: 'Roboto', sans-serif;
}
.right-text-botanic h3.subtitle-bali {
    text-align: right;
    color: #1e3d28;
    font-size: 40px;
    padding-bottom: 43px;
    font-family: 'HLTMishka', sans-serif;
}
.right-text-botanic p {
    color: #05462f;
    font-family: 'Roboto', sans-serif;
}
.right-text-botanic h3 span {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #1e3d28;
}
.chuthich-list ul {
    float: left;
    margin-right: 30px;
    margin-bottom: 2rem;
    margin-left: 0;
}

.chuthich-list ul:last-child {
    margin-right: 0;
    margin-left: 0;
}
#section-baliforest .list-unstyled span.number {
    background: #f180b2;
}
#section-baliforest .list-unstyled span.text {
    color: #05462f;
}
#section-palmVillage {
    background: #05462f;
    position: relative;
}
#section-palmVillage .wrap-box {
    padding-bottom: 268px;
}
.palm-left {
    width: 50%;
    float: left;
    text-align: center;
    color: #fff;
}
.palm-left .title-palm {
    font-family: 'Roboto', sans-serif;
}
.palm-left .title-palm span {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.palm-left .subtitle-palm {
    font-family: 'HLTMishka', sans-serif;
}
h3.title-palm span {
    font-weight: 900;
}
.palm-right {
    width: 50%;
    float: left;
    text-align: center;
    color: #fff;
}
.palm-right .title-palm {
    font-family: 'Roboto', sans-serif;
}
.palm-right .subtitle-palm {
    font-family: 'HLTMishka', sans-serif;
}
.palm-right .title-palm span {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.palm-button {
    /* background-image: url("../images/comming-soon.png") no-repeat center; */
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
    padding-top: 484px;
    height: 169px;
}
.palm-button h3 {
    color: #05462f;
    position: absolute;
    top: 210px;
    left: 489px;
    z-index: 1;
    font-family: 'HLTMishka', sans-serif;
}
#section-tienich {
    position: relative;
    padding-bottom: 146px;
}
#section-tienich .tienich img {
    margin-top: -250px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#section-news {
    /* background: url('images/tintuc.jpg'); */
    background-size: cover;
    padding-bottom: 155px;
}
#section-news h3.title-news {
    text-align: center;
    color: #05462f;
    padding-top: 128px;
    padding-bottom: 437px;
    font-size: 42px;
    font-family: 'HLTMishka', sans-serif;
}
#section-news .box-title h3 {
    color: #fff;
    font-size: 16.7px;
    text-align: justify;
    padding-top: 35px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
#section-news .box-desc {
    color: #fff;
    margin-bottom: 1rem;
}
#section-news .box-desc p {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
#section-news .date {
    color: #3f9b6e;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
.footer {
    padding-top: 70px;
    padding-bottom: 100px;
    background: #003d28;
    color: #fff;
}
.ft-logo {
    padding-bottom: 40px;
}
p.ft-title {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
}
.ft-desc {
    padding-top: 15px;
    margin-left: 0rem;
}
.ft-desc li {
    padding-bottom: 0px;
}
.ft-desc p {
    margin-bottom: 0px;
    padding-bottom: 15px;
    font-family: 'Roboto', sans-serif;
}
.ft-desc img {
    width: 20px;
    float: left;
}
.ft-desc span {
    padding-left: 20px;
    display: inline-block;
}
.wrap-dangky {
    padding-top: 90px;
}
.wrap-dangky input {
    border-radius: 0px;
    width: 90%;
}
.form-title {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}
.wrap-dangky input::placeholder {
    color: #757272;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
 }
.wrap-dangky .btn {
    border-radius: 0px;
    padding: 4px 20px 4px 20px;
    background: #f48020;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
/* -----start more------ */
.navbar-nav{
    line-height: 2rem;
}

.nav-item{
    padding: 0 2rem;
}

.chuthich-list{
    margin-bottom: 2rem;
}

.paddingBotton{
    margin-bottom: 1.8rem;
}
/*--------end more----- */

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #05462f;
}
.navbar-light .navbar-nav .nav-link {
    color: #05462f;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#navbarMainMenu {
    background-color: #fde700 !important;;
}
/*Trang danh mục*/
.banner {
    position: relative;
    height: 350px;
}
.banner::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.archive-banner {
    /* background: url(images/bg-archive.png) no-repeat left top; */
    background-size: cover;
}
.banner-info {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
}
.banner-info h1 {
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
}
.banner-info nav {
    display: inline-block;
}
ol.breadcrumb {
    padding: 0;
    margin-bottom: 0;
    background: transparent;
}
.breadcrumb-item, .breadcrumb-item a {
    font-size: 15px;
    color: #fff;
}
.breadcrumb-item.active {
    color: #fff;
}
.wrap-content {
    padding: 30px 0px;
}
.post-item .post-info {
    margin-top: 20px;
    margin-bottom: 20px;
}
.post-title a {
    font-size: 28px;
    color: #05462f;
    text-decoration: none;
}
.post-item .post-info li, .post-item .post-info li a {
    color: #333;
}
/*chi tiết*/
.detail-banner {
    /* background: url(images/bg-archive.png) no-repeat left top; */
    background-size: cover;
}
.banner-info .post-info {
    margin-bottom: 0;
}
.post-info li.list-inline-item:not(:last-child) {
    margin-right: 15px;
}
.banner-info .post-info li, .banner-info .post-info li a {
    color: #fff;
}


/* css more */

.price-heading-title,
.price-area-title,
.price-apartment-title,
.price-outstanding-title{
    text-align: center;
    background-color: #e99c9c;
    border-top-left-radius:1rem;
}

.price-about-details,
.price-area-details,
.price-apartment-details,
.price-outstanding-details{
    background-color: #ccccd1;
    border-bottom-right-radius: 1rem;
}

.price-about-details-list,
.price-area-details-list,
.price-apartment-details-list,
.price-outstanding-details-list{
    padding-left: 0rem;
}

.price-about-details--list__item,
.price-area-details--list__item,
.price-apartment-details--list__item,
.price-outstanding-details--list__item{
    list-style: none;
    padding: 0.5rem 0;
}
.title-real{
    text-align: center;
}
.title-real-estate{
    text-transform: uppercase;
}
.apartment-title{
    text-align: center;
    text-transform: uppercase;
}

.project-apartment{
    padding-top: 1rem;
    border-top: 1px solid #b1b1b1;
}

.apartment-heading{
    color: #422b38;
}
.apartment-list{
    list-style: none;
    margin-left: 0rem;
}

.apartment-list-item{
    margin: 0.6rem 0;
}

.apartment-list-item--text{
    color: #3f9b6e;
}

.apartment-list-item--time{
    color: #000;
    font-weight: 600;
}

.fa-regular{
    float: right;
    border: 1px solid #000;
    padding: 0.2rem 0.2rem;
    cursor: pointer;
}

.apartment-option{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.image-apartment{
    margin-bottom: 1rem;
}

.apartment-option-icon{
    display: flex;
}

.apartment-option-icon--one{
    border: 1px solid#cf9090;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
}

.apartment-option-icon--two{
    margin-left: 1rem;
    border: 1px solid#cf9090;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
}

.app_mobile{
    display: flex;
    margin-left: 0rem;
}

.app_mobile-google,
.app_mobile-apple{
    width: 80%;
}


.house_project{
    display: flex;
    border: 1px solid #f1f1f1;
    padding-top: 1.6rem;
}

.project-apartment-list{
    margin-left: 0rem;
}

.project-apartment-list__item{
    line-height: 2rem;
}

.news-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.news-container-form{
    margin-right: 1rem;
}

.news-pet-select{
    padding-left: 1.2rem !important;
}

.news-container-form__input{
    padding: 0.5rem 6rem 0.5rem 1rem !important;
}

.news-button{
    color: #000;
    margin-left: 1rem;
    cursor: pointer;
}

.news-details{
    margin: 2rem 0;
}

.news-details-title{
    color: #000;
    background-color: #ad9797;
    padding-top: 0.3rem;
    padding-bottom: 0.1rem;
    padding-left: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 47.5rem;
}

.news-details-content{
    display: flex;
}

.news-details-content__main{
    display: flex;
    background-color: #9ce9c3;
}

.news-image{
    margin: 1rem 0;
}

.news-main{
    display: flex;
}

.news-main-list{
    margin-left: 0rem;
    margin-top: 1rem;
}

.news-main-list__item--text{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    display: block;
    padding-left: 1rem;
}

.news-main-list__item{
    display: flex;
    padding-bottom: 0.8rem;
}

.news-main-list__item--image{
    width: 6rem;
}

.news-main-list__item-one{
    list-style-type: disc;
    margin: 0 1.3rem;
}

.news-register{
    border-radius: 1rem;
    margin-top: -2.3rem;
    border: 1px solid #c24646;
}

.fa-solid{
    color: red;
}

.news-register{
    text-align: center;
    padding-top: 0.5rem;
}

.news-register-icon__text{
    color: red;
    font-weight: 600;
}

.news-register-form{
    display: flex;
    justify-content: center;
    padding-top: 0.2rem;
    padding-bottom: 0.8rem;
}

.news-register-form__button{
    background-color: red;
}

.news-register-form__button--link{
    color: #fff;
    font-weight: 600;
}

.news-people-title{
    margin-top: 2rem;
    color: #000;
    background-color: #ad9797;
    padding-top: 0.3rem;
    padding-bottom: 0.1rem;
    padding-left: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.news-people-title__text{
    text-align: center;
}

.news-people-outstanding{
    border: 1px solid #ebdada;
}

.news-people-outstanding__list{
    margin-left: 1rem;
}

.news-people-outstanding__list--item{
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.news-people-outstanding__list--item-image{
    padding-right: 1rem;
    width: 6rem;
    height: 4rem;
}

.news-people-outstanding__list--item-text{
    font-size: 0.8rem;
}

.news-market{
    margin-left: -0.8rem;
}

.news-market-title{
    background-color: #003d28;
    width: 12rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: relative;
}

.news-market-title--text{
    color: #fff;
    text-align: center;
}

.news-market-pseudo::before{
    content: "";
    background-color:#003d28;
    position: absolute;
    width: 47.5rem;
    height: 0.2rem;
    margin-top: -0.5rem;
}

.news-market-info{
    display: flex;
}

.news-market-info__details--list{
    margin-left: 0rem;
}

.news-market-info__details--list__item{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.news-market-info__details--list__item--image{
    width: 8rem;
    height: 5rem;
    padding-right: 1rem;
}

.news-market-info__details--list__item--text{
    font-size: 1rem;
    font-weight: 600;
}

.news-analysis{
    margin-left: -0.8rem;
}

.news-analysis-title{
    background-color: #003d28;
    width: 18rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: relative;
}

.news-analysis-title--text{
    color: #fff;
    text-align: center;
}

.news-analysis-pseudo::before{
    content: "";
    background-color:#003d28;
    position: absolute;
    width: 47.5rem;
    height: 0.2rem;
    margin-top: -0.5rem;
}

.news-analysis-info{
    display: flex;
}

.news-analysis-info__details--list{
    margin-left: 0rem;
}

.news-analysis-info__details--list__item{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.news-analysis-info__details--list__item--image{
    width: 8rem;
    height: 5rem;
    padding-right: 1rem;
}

.news-analysis-info__details--list__item--text{
    font-size: 1rem;
    font-weight: 600;
}

.news-zoning{
    margin-left: -0.8rem;
}

.news-zoning-title{
    background-color: #003d28;
    width: 18rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: relative;
}

.news-zoning-title--text{
    color: #fff;
    text-align: center;
}

.news-zoning-pseudo::before{
    content: "";
    background-color:#003d28;
    position: absolute;
    width: 47.5rem;
    height: 0.2rem;
    margin-top: -0.5rem;
}

.news-zoning-info{
    display: flex;
}

.news-zoning-info__details--list{
    margin-left: 0rem;
}

.news-zoning-info__details--list__item{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.news-zoning-info__details--list__item--image{
    width: 8rem;
    height: 5rem;
    padding-right: 1rem;
}

.news-zoning-info__details--list__item--text{
    font-size: 1rem;
    font-weight: 600;
}

.news-finance{
    margin-left: -0.8rem;
}

.news-finance-title{
    background-color: #003d28;
    width: 10rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: relative;
}

.news-finance-title--text{
    color: #fff;
    text-align: center;
}

.news-finance-pseudo::before{
    content: "";
    background-color:#003d28;
    position: absolute;
    width: 47.5rem;
    height: 0.2rem;
    margin-top: -0.5rem;
}

.news-finance-info{
    display: flex;
}

.news-finance-info__details--list{
    margin-left: 0rem;
}

.news-finance-info__details--list__item{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.news-finance-info__details--list__item--image{
    width: 8rem;
    height: 5rem;
    padding-right: 1rem;
}

.news-finance-info__details--list__item--text{
    font-size: 1rem;
    font-weight: 600;
}


.news-chart{
    margin-left: -0.8rem;
}

.news-chart-title{
    background-color: #003d28;
    width: 10rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: relative;
}

.news-chart-title--text{
    color: #fff;
    text-align: center;
}

.news-chart-pseudo::before{
    content: "";
    background-color:#003d28;
    position: absolute;
    width: 47.5rem;
    height: 0.2rem;
    margin-top: -0.5rem;
}

.news-chart-info{
    display: flex;
}

.news-chart-info__details--list{
    margin-left: 0rem;
}

.news-chart-info__details--list__item{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.news-chart-info__details--list__item--image{
    width: 8rem;
    height: 5rem;
    padding-right: 1rem;
}

.news-chart-info__details--list__item--text{
    font-size: 1rem;
    font-weight: 600;
}

.news-province{
    margin-top: -2.6rem;
}

.news-province-title{
    margin-top: 2rem;
    color: #000;
    background-color: #ad9797;
    padding-top: 0.3rem;
    padding-bottom: 0.1rem;
    padding-left: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.news-province-title__text{
    text-align: center;
}

.news-province-outstanding{
    border: 1px solid #ebdada;
}

.news-province-outstanding__list{
    margin-left: 2.4rem;
}

.news-province-outstanding__list--item{
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: inline-block; 
}

.news-province-outstanding__list--item-image{
    padding-right: 1rem;
    width: 9rem;
    height: 5rem;
}

.news-province-outstanding__list--item-text{
    font-size: 1rem;
    display: block;
    font-weight: 600;
    text-align: center;
}

.news-care{
    margin-top: -2.6rem;
}

.news-care-title{
    margin-top: 2rem;
    color: #000;
    background-color: #ad9797;
    padding-top: 0.3rem;
    padding-bottom: 0.1rem;
    padding-left: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.news-care-title__text{
    text-align: center;
}

.news-care-outstanding{
    border: 1px solid #ebdada;
}

.news-care-outstanding__list{
    margin-left: 2.4rem;
}

.news-care-outstanding__list--item{
    list-style: disc;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: inline-block; 
}

.news-care-outstanding__list--item-text{
    font-size: 1rem;
    display: block;
    font-weight: 600;
    text-align: center;
}

.news-care-outstanding__button{
    border-right: none;
    border-bottom: none;
    border-left: none;
    width: 100%;
}

.news-care-outstanding__button--text{
    font-size: 1.2rem;
    font-weight: 600;
    color: red;
}


.news-utilities{
    margin-top: -2rem;
}

.news-utilities-title{
    margin-top: 2rem;
    color: #000;
    background-color: #ad9797;
    padding-top: 0.3rem;
    padding-bottom: 0.1rem;
    padding-left: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.news-utilities-title__text{
    text-align: center;
}

.news-utilities-outstanding{
    border: 1px solid #ebdada;
}

.news-utilities-outstanding__list{
    margin-left: 1rem;
}

.news-utilities-outstanding__list--item{
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.news-utilities-outstanding__list--item-image{
    padding-right: 1rem;
    width: 4rem;
    height: 3rem;
}

.news-utilities-outstanding__list--item-text{
    font-size: 1rem;
    font-weight: 600;

}

.exterior-details-list{
    margin-left: 0rem;
    /* border-top: 1px solid #003d28; */
    padding-bottom: 1rem;
}

.exterior-details-list__item{
    display: flex;
    margin-top: 2rem;
}

.exterior-details-list__item-image{
    width: 16rem;
    padding-right: 1rem;
}

.exterior-details-list__item-title{
    font-size: 1rem;
    font-weight: 600;
}

.exterior-details-list__item-time{
    color: #3f9b6e;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    display: block;
}

.list-all{
    display: flex;
    border-top: 1px solid #ddbdbd;
    padding-top: 2rem;
}

.list-all-much__list{
    margin-left: 0rem;
}

.register-exterior,
.care-exterior{
    margin-top: 2rem;
}

.news-exterior-outstanding__list--item{
    display: flex;
}

.utilities-exterior{
    margin-top: 0rem;
}

.exterior-numerical-list{
    display: flex;
    justify-content: center;
}

.exterior-numerical-list__item-number-backgr{
    background-color: #a34646;
    color: #fff;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.exterior-numerical-list__item-number{
    padding: 0.5rem;
}

.exterior-numerical-list__item{
    padding: 0.5rem;
}

.fa-chevron-right{
    padding-top: 1.2rem;
    font-size: 1.2rem;
}

.all-estate{
    display: flex;
}

.Characteristics{
    margin-top: 2rem;
}

.Characteristics-title{
    text-transform: uppercase;
    border: 2px solid #f2f2f2;
    width: 18rem;
    text-align: center;
    padding: 0.2rem 0.2rem;
    color: #354240;
    background: #e99c9c;
}

.Characteristics-area{
    display: flex;
    justify-content: space-between;
}

.Characteristics-list{
    margin-left: 0rem;
}

.Characteristics-item{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0rem;
}

.Characteristics-area-icon{
    display: flex;
}

.Characteristics-area-text__details{
    font-size: 1.6rem;
    padding-left: 3rem;
}

.fa-chair,
.fa-toilet,
.fa-house-user,
.fa-money-bill,
.fa-book,
.fa-bed,
.fa-compass,
.fa-chart-area{
    font-size:2rem;
    color: black;
}

.Characteristics-area-number__details{
    font-size: 1.6rem;
    
}

.Characteristics-bed{
    padding-left: 2.5rem;
}

.re__card-config{
    display: none;
}

.main-content .apartment-list-item .apartment-list-item--text{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.parameter-one-list{
    margin-left: 0rem;
    display: flex;
    margin-bottom: 0rem;
}

.parameter-icon-list{
    display: flex;
    margin-left: 0rem;
    float: right;
}

.parameter-one-list__items{
   padding: 0 12rem;
}

.parameter-one-list__items p{
    margin-bottom: 0rem;
 }

 .parameter-one-list__item p{
    margin-bottom: 0rem;
 }

.parameter-icon-list__item{
    font-size: 2rem;
    cursor: pointer;
}

.fa-triangle-exclamation{
   padding: 0 3rem;
}

.info-details-list{
    margin-left: 0rem;
}

.project-all{
    display: flex;
}

.project-title{
    margin-bottom: 1rem;
}

.project-details-one__list{
    margin-left: 0rem;
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.fa-chevron-rights{
    padding-top: 0.2rem;
    padding-left: 0.5rem;
    font-size: 1rem;
}

.project-details-one__list-item{
    display: flex;
}

.project-details-one__list-item--more{
    color: red;
}

.keyword{
    margin-top: 2rem;
}

.keyword-title-list{
    margin-top: 1rem;
    margin-left: 0rem;
    display: flex;
    justify-content: space-between;
}

.keyword-title-list__item{
    border-radius: 1rem;
    border: 1px solid #f1cdcd;
    background: #f1cdcd;
    padding: 0.2rem 2.2rem;
}

.keyword-title-list__item-link{
    color: #000 !important;
}

.market,
.suggestions{
    margin-top: 2rem;
}

.market-title,
.suggestions-title{
    margin-bottom: 1rem;
}

.market-nav-list,
.suggestions-nav-list{
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
    margin-left: 0rem;
}

.market-nav-list__item,
.suggestions-nav-list__item{
    flex-shrink: 0;
    margin-right: 1rem;
    width: 32%;
    border: 1px solid #e5d9d9;
}

.suggestions-nav-list__item-price{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0rem;
    color: #000;
    font-weight: 600;
}

.market-nav-list__item-apartment,
.suggestions-nav-list__item-apartment{
    text-align: center;
    font-size: 1rem;
    color: #ff6565;
}

.suggestions-nav-list__item-address{
    font-size: 1.2rem;
    text-align: center;
}

.maps-title{
    margin: 1rem 0rem;
}

.owner{
    border: 1px solid#d5cbcba6;
    border-radius: 0.6rem;
}

.owner-heading{
    display: flex;
    justify-content: center;
    margin-top: 2.2rem;
}

.owner-heading-title{
    text-align: center;
    background: #f2f2f2;
    width: 36%;
    border-radius: 50%;
    padding: 2rem 0rem;
    font-size: 3rem;
}

.owner-info-list{
    margin-left: 0rem;
}

.owner-info-list__item{
    text-align: center;
}

.owner-info-list__item{
    margin: 0.6rem 0;
}

.owner-info-list__item-text{
    color: #ff0000;
}

.owner-contact,
.owner-number{
    margin: 1rem 0rem;
    display: flex;
    justify-content: center;
}

.owner-number-phone{
    display: flex;
    justify-content: center;
    background: rgb(137 118 137 / 70%);
    border-radius: 1rem;
    width: 55%;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.6rem 0.2rem;
    color: #fff !important;
}

br{
    display: none;
}

.owner-contact-text{
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    width: 55%;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid rgba(131, 108, 131, 0.267);
    padding: 0.6rem 0.2rem;
    color: #000 !important;
}

.bold-text{
    font-weight: 600;
}

.luxury-apartment{
    background-color: #f2f2f2;
    margin-top: 2rem;
    border-radius: 0.6rem;
}

.luxury-apartment-title{
    color: #000;
    text-align: center;
    font-size: 1.4rem;
    padding: 1rem 0rem;
    border-bottom: 1px dashed;
}
.luxury-apartment-title__list{
    height: 22.5rem;
}

.luxury-apartment-title__list-item{
    margin: 1rem 0;
}

.luxury-apartment-title__list-item--link{
    color: #000 !important;
}

.exterior-details-list__item-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}






